@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lilita+One&display=swap');
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: 'Lilita One', cursive;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }
}
